/* PC  */
@media (min-width: 1024px) {
     
}

/* Tablet & Mobile  */
@media (max-width: 1023px) {

     #nav .subnav a {
          padding:6px 12px;
     }

     .place-buy-btn {
          padding: 15px 16px;
     }

     .contact-info p {
          line-height: 2;
     }

     .contact-form .form-control {
          padding: 15px;
     }

     #footer .socials-list {
          font-size: 40px;
          display: inline-flex; /* Tránh icon xuống dòng */
     }

     #footer .socials-list a {
          margin: 0 8px;
     }

     #footer .copyright a {
          padding: 12px 0;
          display: inline-block;
     }
}

/* Tablet  */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile  */
@media (max-width: 739px) {

     .s-mt-8 {
          margin-top: 8px !important;
     }

     .s-full-width,
     .s-col-full {
          width: 100% !important;
     }

     #header {
          overflow: hidden;
     }
     
     #header .mobile-menu-btn {
          display: block;
     }

     #header .search-btn {
          display: none;
     }

     #nav {
          display: block;
     }

     #nav .subnav {
          position: initial;
          background-color: #333;
     }

     #nav .subnav a {
          color: #fff;
          padding:6px 40px;
     }

     #nav > li {
          display: block;
     }

     #nav > li > a {
          display: block;
          
     }

     #nav > li:first-child {
          display: inline-block;
     }


     #content .member-img {
          width: 60%;
     }
     
     .contact-form {
          margin-top: 32px;
     }
}