/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
     1. Vị trí
     2. Kích thước
     3. Màu sắc
     4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

/* Reset CSS */
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html {
     font-family: sans-serif,"Lato",consolas;
     scroll-behavior: smooth;
}



/* Common : Dùng chung  */
.clear {
     clear: both;
}

.text-white {
     color: #fff !important;
}

.text-center {
     text-align: center;
}

.mt-8 {
     margin-top: 8px !important;
}

.mt-16 {
     margin-top: 16px !important;
}

.row {
     margin-left: -8px;
     margin-right: -8px;
}

.row::after {
     content:"";
     display: block;
     clear: both;
} /* Thay div.clear */

.col {
     float: left;
     padding-left: 8px;
     padding-right: 8px;
}

.col-full {
     width: 100%;
}

.col-half {
     width: 50%;
}
.col-third {
     width: calc(100%/3);
}


/* Main  */
#main {
     
}
#header {
     height: 46px;
     background-color: #000;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1;
}
#header .mobile-menu-btn {
     position: absolute;
     top: 0;
     right: 0;
     display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
     float: right;
     padding: 0 24px;
}


#header .search-btn:hover {
     background-color: #f44336;
     cursor: pointer;
}

#header .mobile-menu-btn:hover {
     background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
     color: #000;
}

#header .menu-icon,
#header .search-icon {
     color: #fff;
     font-size: 15px;
     line-height: 46px;
}

#nav {
     display: inline-block;
}
#nav, .subnav {
     list-style: none;
}

#nav li {
     display: inline-block;
     position: relative;

}

#nav li:hover .subnav {
     display: block;
}

#nav .nav-arrow-down {
     font-size: 12px;
}

#nav li a {
     text-decoration: none;
     line-height: 46px;
     padding: 0px 24px;
     display: inline-block;
}


#nav > li > a {
     text-transform: uppercase;
     color: #fff;

}

#nav > li:hover > a {
     color: #000;
     background-color: #ccc;
}
#nav .subnav {
     top: 100%;
     display: none;
     min-width: 160px;
     position: absolute;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     
}

#nav .subnav > li {
     display: block;
}

#nav .subnav a {
     color: #333;
     padding: 0 12px;
     line-height: 36px;
     display: block;
}

#nav .subnav li:hover {
     color: #000;
     background-color: #ccc;
}

#slider {
     padding-top: 50%; /* là x% thì Chiều Cao = x% Chiều Rộng  */
     margin-top: 46px;
     /* background: url('/assets/img/slider1.jpg') top center / cover no-repeat; */
     background-image: url('/assets/img/slider1.jpg');
     background-position: top center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
}

#slider .text-content {
     position: absolute;
     color: #fff;
     bottom: 48px;
     left: 50%;
     transform: translateX(-50%);
     /* width: 100%; cách 2 */
     /* left: 0;
     right: 0; cách 3*/
     text-align: center;
}

#slider .text-heading {
     font-weight: 500;
     font-size: 24px;
     margin-bottom: 30px;
}
#content {
     
}

#content .content-section {
     width: 800px;
     max-width: 100%;
     margin: 0 auto;
     padding: 64px 0;
     padding-left: 16px;
     padding-right: 16px;
}

#content .section-heading {
     font-size: 30px;
     font-weight: 500;
     text-align: center;
     letter-spacing: 4px; /* Khoảng cách từng chử*/
}

#content .section-sub-heading {
     font-size: 15px;
     text-align: center;
     margin-top: 25px;
     font-style: italic; /* Chữ nghiêng */
     font-weight: 100;
     opacity: 0.6;
}

#content .about-text {
     font-size: 15px;
     text-align: justify; /* Căn đều 2 bên văn bản */
     line-height: 1.4;
     font-weight: 500;
     margin: 15px 0;
}

#content .members-list {
     padding-top: 16px;
     /* overflow: hidden; Fix lỗi dùng float thay <div> clear */
}

#content .member-name {
     font-size: 15px;
     margin: 15px 0;
}

#content .member-img {
     width: 154px;
     border-radius: 4px;
}

/* <!-- Tour section  -->  */
.tour-section {
     background-color: #000;
}


.tickets-list {
     background-color: #fff;
     list-style: none;
     color: #000;
     margin-top: 40px;
}

.tickets-list li {
     color: #757575;
     font-size: 15px;
     padding: 11px 16px;
     border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
     background-color: #f44336;
     color: #fff;
     padding: 4px 8px;
     margin-left: 16px;
}

.tickets-list .quantity {
     float: right;
     width: 24px;
     height: 24px;
     color: #fff;
     background-color: #000;
     border-radius: 50%;
     text-align: center;
     line-height: 24px;
     margin-top:  -2px;
}

.places-list {
     padding: 16px 0;
}

.place-img {
     width: 100%;
     display: block;
}

.place-img:hover {
     opacity: 0.6;
}
.place-body {
     background-color: #fff;
     color: #000;
     padding: 16px;
     font-size: 15px;
}
.place-heading {
     font-size: 15px;
     font-weight: 600;
}
.place-time {
     margin-top: 15px;
     /* color: #757575; */
     opacity: 0.6;
}
.place-description {
     margin-top: 15px;
     line-height: 1.5;

}
.place-buy-btn {
     display: inline-block;
     margin-top: 15px;
     color: #fff;
     font-size: 15px;
     border-radius: 2px;
     padding: 10px 16px;
     text-decoration: none;
     background-color: #000;
     text-align: center;
}

.place-buy-btn:hover {
     color: #000;
     background-color: #cccccc;
}

/* Contact  */
.contact-content {
     margin-top: 48px;
}

.contact-info {
     font-size: 18px;
     line-height: 1.5;
}

.contact-info i[class*="ti-"] {
     width: 30px;
     font-weight: 800;
     display: inline-block;
} /* Css Selector nâng cao - Css cho class có cùng chuỗi trong "" */

.contact-form {
     font-size: 15px;
}

.contact-form .form-control {
     padding: 10px;
     border: 1px solid #ccc;
     width: 100%;
}

.contact-form .form-submit-btn {
     font-size: 15px;
     padding: 12px 16px;
     text-transform: uppercase;
     cursor: pointer;
     background-color: #000;
     color: #fff;
     border: none;
     float: right;
     text-align: center;
}

.contact-form .form-submit-btn:hover {
     color: #000;
     background-color: #757575;
}

/* Map  */
.map-section img {
     width: 100%;
}

/* Footer section */
#footer {
     padding: 64px 16px;
     text-align: center;
}


#footer .socials-list {
     font-size: 24px;
}

#footer .socials-list a {
     text-decoration: none;
     color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
     color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
     margin: 15px 0;
     color: rgba(0, 0, 0, 0.6);

}

#footer .copyright a {
     color: rgba(0, 0, 0, 0.6);
}